html {
    scroll-behavior: smooth;
}

body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f5f5f5;
    font-family: "Montserrat", sans-serif;
}


a {
    text-decoration: none;
}

/* NAV  */

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #242424;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 0px;
    z-index: 10;
}


#imgLogo {
    width: 75px;
    height: 55px;
    margin: 6px;

}

.titulo p {
    font-family: Bona Nova SC;
    font-size: 30px;
    color: #ffffff;
    margin: 20px;

}




/* LINKS DEL NAV  */

.boxLinks ul {
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;


}

.boxLinks li {
    padding-inline: 2px;
    margin: 2px;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.boxLinks a {
    padding: 3px;
    transition: background-color 0.2s, color 0.2s;
    text-decoration: none;
    color: #ffffff;

}

.boxLinks a:hover {
    color: #2bc016;

}



/* menu hamburguesa  */

.menuHamburguesa {
    display: none;
    /* Ocultar por defecto */
    cursor: pointer;
}

.links {
    display: flex;
    /* Mostrar enlaces en fila */
    list-style: none;
}





/* IMAGEN CON TEXTO  */

.imgContUs {
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(/img/supras.jpg);
    background-size: cover;
    color: #ffffff;
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}


.imgContUs h3 {
    font-family: "Barlow Condensed", sans-serif;
    margin: 0;
    margin-bottom: 20px;
    font-size: 70px;
    font-weight: 450;

}

.imgContUs p {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 25px;
}





/* PARTE DE CONTACTO  */

.contacto {
    width: 100%;

}

.contenedorContacto {
    display: flex;
    justify-content: space-evenly;
    padding-top: 60px;
    height: 600px;

}


.contenedorContacto h1 {
    font-size: 26px;
    margin-bottom: 20px;
    margin-top: 10px;
    color: #f5f5f5;
    text-align: center;
}




/* FORMULARIO ADENTRO DEL CONTACTO  */

#form {

    display: flex;
    flex-direction: column;
    width: 45%;
    
    .descripcion {
        margin-top: 10px;
        resize: none;
        
    }

    .inputForm {
        padding: 10px;
        background-color: #dfdfdf;
        border: 0;
        border-radius: 2px;
        color: #424242;
        outline-color: #798178cb;
    }


    .descripcion {
        padding-bottom: 130px;
        background-color: #dfdfdf;
        border: 0;
        border-radius: 2px;
        outline-color: #798178cb;
    }



    button {
        font-size: 15px;
        color: #fff;
        background-color: #2bc016;
        padding: 7px;
        padding-right: 142px;
        padding-left: 142px;
        margin-top: 20px;
        border: 0;
        cursor: pointer;
        border-radius: 2px;
    }

    button:hover {
        background-color: #30d21b;
    }

    h4 {
        color: #7c7c7ce0;
        margin: 0;
        margin-top: 30px;
        margin-bottom: 6px;
    }
}




/* PARTE DE ITEMS DEL CONTACTO  */

.itemsBox {
    width: 20%;
}


.itemsBox h1 {
    color: #242424;
    text-align: left;
    margin-top: 40px;
}

.items {
    padding: 2px;
    margin-top: 10px;

}

.items span {
    display: block;
    font-weight: bold;
    color: #424242e0;
}

.items a {
    text-decoration: underline;
    font-weight: 550;
    color: #2bc016;


}

.items a:hover {
    color: #30d21b;
}

.items p {
    color: #7c7c7ce0;
}



/* FOOTER  */



footer {
    background-color: #242424;
    height: 70px;
    display: flex;
    justify-content: space-between;
}

.contac {
    display: flex;
    justify-content: space-around;
    font-size: 17px;
}



.logos {
    display: flex;
    justify-content: space-around;
    margin-right: 20px;
}

.logos img {
    padding: 8px;



}

#yt img, #tw img, #ml img, #ig img, #fc img, #wp img {
    width: 45px;
    height: 40px;
    padding-top: 17px;
}


.btnInicio {
    margin-left: 90px;

}

.btnInicio p {
    color: #fff;
    font-size: 20px;
    margin: 0;
    padding:5px;
    border-radius: 2px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 17px
}


.btnInicio p:hover {
    color: #30d21b;
    transition: 0.7s ease;


}

.btnInicio a {
    text-decoration: none;
    color: #ffffff;
}


.footerNote {
    color: #e0e0e0;
    margin-top: 8px;
    margin-left: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;


}


@media (max-width: 1024px){

    .header {
        width: 1024px;
    }

    .nav {
        width: 1024px;
        padding-right: 15px;
        justify-content: space-between;
    }

    .titulo {
        margin-right: 40px;
    }

    #imgLogo {
        width: 60px;
        height: 50px;

    }

    #links {
        margin-right: 10px;
    }




 footer {
        height: 75px;
    }


    .btnInicio a p {
        width: 170px;
        margin: 0;
        margin-top: 25px;
        font-size: 17px;
    }

    .btnInicio {
        margin-left: 60px;

    }


    .logos {
        padding-right: 6px;
        padding-left: 10px;
    }


    .logos img {
        padding: 5px;

    }

    #yt img,
    #tw img,
    #ml img,
    #ig img,
    #fc img,
    #wp img {
        width: 40px;
        height: 35px;
        padding-top: 20px;
    }



    .footerNote p {
        margin-left: 20px;
        margin-right: 10px;
        text-align: center;
        font-size: 15px;
        color: #fff;
    }


}


@media (max-width: 375px) {
    /* mobile */


    .nav {
        position: relative;
        width: 100%;
        height: 80px;
        display: flex;
        flex-direction: row;
        justify-content: space-between;

    }

    #imgLogo {
        display: none;
    }


    .titulo p {
        font-size: 27px;
        margin: 10px;

    }

    .menuHamburguesa {
        display: block;
        font-size: 30px;
        margin-right: 10px;
        color: #fff;
    }


    .links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 75px;
        left: 0;
        text-align: center;
        width: 100%;
        background-color: #303030;
        margin-top: 0;
    }



    .links li {
        padding: 7px;

    }



    .links.show {
        display: flex;
        /* Mostrar enlaces al hacer clic */
    }


/* imagen principal  */


.imgContUs {
    height: 600px;
}

.imgContUs h3 {
font-size: 55px;
}

.imgContUs p {
    font-size: 18px;
}


/* form  */


.contenedorContacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-top: 10px;
    height: 1000px;
}


.contacto {
    width: 100%
}

#form {
    width: 90%;
    padding: 20px;
}

.descripcion {
    padding-bottom: 70px !important;
}


#form {
    padding: 0;
    padding-left: 15px;
}

.itemsBox {
    width: 90%;
    padding-left: 20px;
    margin-top: 40px;
    margin-bottom: 40px;
}






/* footer  */

footer {
    height: 180px;
}

.contact {
    justify-content: center;
}

.contact p {
    text-align: center;
}

.btnInicio {
    margin: 0;
    width: 95%;

    
}

.btnInicio a p {
    margin: 0;
    width: 100%;
}





.logos {
    display: flex;
    margin-left: 10px;
    margin-right: 10px;
    /* justify-content: center; */
}

#yt img,
#tw img,
#ml img,
#ig img,
#fc img,
#wp img {
    width: 40px;
    height: 35px;
    padding-top: 13px;
}


.contact {
    display: flex;
    flex-direction: column;
    font-size: 10px;
}


.footerNote {
    font-size: 12px;
}





}