@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bona+Nova+SC:ital,wght@0,400;0,700;1,400&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');



html {
    scroll-behavior: smooth;
}



body {
    background-color: #dfdfdff5;
    ;
    color: #ffffff;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    margin: 0;
}


/* NAV  */

.nav {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    background-color: #242424;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    padding-top: 0px;
    z-index: 10;
}


#imgLogo {
    width: 75px;
    height: 55px;
    margin: 6px;

}

.titulo p {
    font-family: Bona Nova SC;
    font-size: 30px;
    color: #ffffff;
    margin: 20px;

}




/* LINKS DEL NAV  */

.links ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
    margin: 0;
    padding: 0;

}

.links li {
    padding-inline: 2px;
    margin: 2px;
    font-size: 15px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.links a {
    padding: 3px;
    transition: background-color 0.2s, color 0.2s;
    text-decoration: none;
    color: #ffffff;

}

.links a:hover {
    color: #2bc016;

}




/* IMAGEN PRINCIPAL  */

/* .imagenPrincipal {
    width: 100vw;
    max-width: 3000px;
    min-width: 320px;
    margin: auto;
    margin-bottom: -10px;

}


.imagenPrincipal img {
    width: 100%;
    height: 750px;
    object-fit: cover;

} */


.videoPrincipal video {
    width: 100%;
    /* height: 100%; */
    height: 1050px;
    object-fit: cover;
    margin-top: -20%;

}



/* SECCION DE MODELOS  */

#modelos {
    padding-top: 0px;
}


#modelos h1 {
    text-align: center;
    color: #131313;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    padding-left: 30px;
    padding-top: 80px;
    margin-top: 0px;
}


.gralModelos img {
    width: 100%;
    height: 250px;
    max-height: 300px;
    object-fit: cover;

}


/* BOX DE CADA MODELO  */

.product {
    color: #000000;
    width: 330px;
    box-shadow: 0px 2px 14px rgba(0, 0, 0, 0.2);
    margin-top: 70px;
    margin: 8px;
    margin-bottom: 60px;
    transition: 0.4s;
    border-radius: 4px;
    border: 1px solid #c2c2c2c9;


    a {
        text-decoration: none;
        color: #ffff;
        background-color: #2bc016;
        padding: 8px;
        display: flex;
        justify-content: center;
        font-family: "Montserrat", sans-serif;
        transition: 0.2s ease;

    }

    a:hover {
        background-color: #2dd917;
        transition: 0.4s ease;
    }

    p {
        margin-left: 15px;
        color: #242424;
        font-family: "Montserrat", sans-serif;
        font-weight: 500;

    }

    h2 {
        text-align: center;
        color: #131313;
        font-size: 30px;
        font-family: "Montserrat", sans-serif;

    }

}

.product:hover {
    background-color: #ebebeb;
    transform: scale(1.04);
}

#product-list {
    margin-top: 100px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;

}




/* DETALLE DE CADA MODELO (JS) */

#product-detail {

    display: flex;
    justify-content: space-around;
    color: #000000;
    width: 90%;
    height: auto;
    border-radius: 6px;
    box-shadow: 0px 2px 8px rgba(0, 0, 0, 0.2);
    margin-top: 100px;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 20px;

    img {
        margin-left: 20px;
        width: 100%;
        height: 700px;
        object-fit: cover;


    }


    #botones {
        justify-content: center;
    }



    button {
        margin-top: 5px;
        margin-right: 5px;
        color: #fff;
        background: none;
        color: #2bc016;
        font-weight: 600;
        padding: 5px;
        font-size: 20px !important;
        font-family: "Montserrat", sans-serif;
        border: none;
        cursor: pointer;
        width: 100%;
        text-align: left;

    }

    button:hover {
        /* background-color: #30d21b; */
        transform: scale(1.02);
        transition: 0.4s ease;
        color: #30d61a;
    }


}


/* SECCION DE IMAGEN (PARTE IZQUIERDA) */

/* #imagenDetail {
    width: 100%;
} */



/* SECCION DE DATOS (PARTE DERECHA) */

#detalleDetail {
    width: 40%;
    display: flex;
    flex-direction: column;
    margin-left: 50px;
    padding: 10px;
    padding-top: 10%;



}

#detalleDetail h2 {
    font-size: 35px;
    color: #131313;
    font-family: "Montserrat", sans-serif;
    border-bottom: 3px solid #e2e2e2cb;
    padding-bottom: 10px;
    margin: 0;
    margin-bottom: 8%;
}

#detalleDetail p {
    margin: 10px;
    margin-left: 0;
    font-size: 20px;
    border-bottom: 3px solid #e2e2e2cb;
    padding-bottom: 12px;
    font-family: "Montserrat", sans-serif;
    color: #333333;

}



#motor {
    display: flex;
}

#motor p {
    flex: 2, 1;

}


#precio p {
    font-size: 30px;
    border: none;
    margin-top: 8%;
    text-transform: uppercase;
    font-weight: 700;
    color: #000000;
}


#footer p {
    margin-top: 30px;
    border: none;
    font-size: 19px;
    color: #585858;
    font-family: "Montserrat", sans-serif;

}

#footer span {
    color: #000000;
    font-weight: 600;
}




/* /////////////// */



#product-detail {
    /* display: none;  */
    padding: 20px;
    border: 1px solid #ccc;
    background-color: #f9f9f9;
}

#product-detail.active {
    display: block;
    /* Mostrar cuando esté activo */
}






/* --------------- */
/* CARROUSEL MODELOS  */


.gralModelos {
    font-family: "Montserrat", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.gralModelos h2 {
    font-size: 25px !important;
    border-bottom: 1px solid #c9c9c9c1;
    padding-bottom: 15px;
    margin-top: 15px;
}

.gralModelos p {
    margin: 5px;
    text-align: left;
    padding-left: 10px;
}


.carousel-container {
    position: relative;
    width: 93%;
    overflow: hidden;
}

.carousel {
    display: flex;
    width: 91%;
    transition: transform 0.9s ease;
    margin-bottom: 80px;
    margin-top: 20px;
}

.carrusel-item {
    min-width: 25%;
    margin: 0 8px;

}

.tarjeta {
    border: 1px solid #7d7d7d82;
    background-color: #ebebeb;
    border-radius: 5px;
    padding: 0px;
    text-align: center;
    color: #000000;
    height: 100%;


}



.tarjeta button {
    text-decoration: none;
    color: #fff;
    background-color: #2bc016;
    width: 100%;
    font-family: "Montserrat", sans-serif;
    padding: 9px;
    border: none;
    font-size: 15px;
    margin-bottom: -3px;
    margin-top: 20px;
    cursor: pointer;

}

.tarjeta button:hover {
    transform: scale(1.03);
    transition: 0.3s ease;
    background-color: #2ed318f3;
}

.tarjeta img {
    max-width: 100%;
    height: 250px;
    object-fit: cover;
}

.carrusel img {
    width: 100%;
    display: block;

}



.arrow {
    transform: translateY(-50%);
    background: none;
    color: black;
    border: none;
    padding: 10px;
    font-size: 40px;
    cursor: pointer;
    z-index: 10;
}

.arrow:hover {
    color: #30b929;
    transition: 0.4s ease;
}



/* PAG COMPRA */

.bodyCompra {
    background-size: cover;
    background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.5)), url(/img/conce2.jpg);

}


.formCompra {
    height: 750px;
    width: 45%;

    background-color: #242424;
    border: 1px solid #363636dc;
    margin: 100px auto;
    margin-bottom: 0px;
    border-radius: 10px;
    box-shadow: 1px 3px 20px 2px #242424;

    display: flex;
    flex-direction: column;
    align-items: center;



    button {
        background-color: #2bc016;
        width: 35%;
        height: 40px;
        border-radius: 8px;
        cursor: pointer;
        color: #fff;
        font-size: large;
        border: 0;
        transition: 0.4s ease;
        margin-top: 30px;
    }

    button:hover {
        transform: scale(1.05);
        transition: 0.4s ease;
        background-color: #32e41b;

    }
}

.inputsForm {
    display: flex;
    flex-direction: column;
    align-items: self-start;
    justify-content: space-around;
    width: 100%;
    height: 400px;
    font-size: larger;
    padding-left: 100px;
    font-family: "Montserrat", sans-serif;


    input {
        border-radius: 8px;
        width: 80%;
        /* height: 25px; */
        border: 0;
        margin-bottom: 35px;
        margin-top: 8px;
        background-color: #e2e2e2;
        padding: 13px;
        transition: 0.3s ease;

    }

    input:hover {
        background-color: #bababa;
        transition: 0.3s ease;
    }


    label {
        color: #2ed917e0;
        font-weight: 500;
    }


}

#compraBtn {
    background-color: #2bc016;
    color: #ffff;
    width: 300px;
    height: 50px;
    border-radius: 1rem;
    border-color: #2bc016;
    margin-top: 40px;
    font-size: larger;
    cursor: pointer;
    border: 0;
}


.formCompra h2 {
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    margin-bottom: 50px;
    margin-top: 70px;
    font-size: 31px;
    text-align: center;


}

.formCompra p {
    font-family: "Montserrat", sans-serif;
text-align: center;
margin-left: 20px;
margin-right: 20px;
}


.footerCompra {
    margin-top: 45px;
}

.boxMensajeCompra {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.mensajeCompra {
    color: #2bc016;
}

.boxMensajeCompra h2 {
    margin: 10px;
}


/* SEDES */

.sedes {
    margin-top: 60px;
}

.sedes h1 {
    text-align: center;
    color: #131313;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    margin-left: 0px;
    margin-bottom: 0px;
    padding-bottom: 50px;
    padding-left: 30px;
    margin-top: 0px;
}

.sedes p {
    text-align: center;
    color: #131313;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    padding-bottom: 120px;
    padding-top: 30px;
    /* margin-bottom: 30px; */
    

}

.sedes a {
    text-decoration: none;
}

.sedes span {
    color: #2bc016;
    font-weight: 600;
}

.sedes span:hover {
    color: #30d21b;
    cursor: pointer;
    transition: 0.5s ease;
}

.conteinerSede {
    display: flex;
    justify-content: center;
    margin: 20px;

}

.fotoSede1 {
    height: 600px;
    width: 60%;
    margin: 20px;
    object-fit: cover;

}

.fotoSede2 {
    height: 600px;
    width: 30%;
    margin: 20px;
    object-fit: cover;
}





/* SEGUNDA IMAGEN */

.segImagen {
    width: 100vw;
    max-width: 3000px;
    min-width: 320px;
    margin: auto;
}

.segImagen img {
    width: 100%;
}






/* SERVICIOS  */

#servicios {
    color: #000000;
    margin-top: -4px;
    margin-bottom: 0px;
    padding-top: 5px;
    padding-bottom: 140px;
}



/* PARTE DE TITULO DE SERVICIOS */

.divServ {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 30px;
}

.sh1 {
    /* SERVICIOS H1  */
    text-align: center;
    color: #131313;
    font-size: 50px;
    font-family: "Montserrat", sans-serif;
    padding-top: 30px;
}





/* PARTE 1 DE SERVICIOS  */

.divServ2 {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    background-color: #ececec7d;
    margin-left: 0px;
}


/* SECCION 1 DE LA PARTE 1 DE SERVICIOS  */

.secServ1 {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 20px;
    width: 60%;
    margin-right: 50px;
    margin-top: 80px;
}

.secServ1 h1 {
    text-align: center;
    font-size: 30px;
    font-family: Calibri;
}

.secServ1 p {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.secServ1 a {
    font-size: 17px;
    margin-top: 40px;
    margin-left: 130px;
    margin-right: 130px;
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-right: 100px;
    padding-left: 100px;
    background-color: #2bc016;
    text-decoration: none;
    color: #ffffff;
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.secServ1 a:hover {
    background-color: #30d21b;
    transition: 0.7s ease;
    transform: scale(1.03);
}


/* SECCION 2 IMAGEN  */

.secServ2 img {
    width: 600px;
    height: 500px;
    margin-right: 70px;
}





/* PARTE 2 DE SERVICIOS */

.divServ3 {
    display: flex;
    flex-direction: row;
    margin-top: 80px;
    background-color: #ececec7d;
    margin-left: 0px;
}



/* SECCION 1 IMAGEN  */

.secServ3 img {
    width: 600px;
    height: 500px;
    margin-left: 70px;
}



/* SECCION 2 DE LA PARTE 2 DE SERVICIOS  */

.secServ4 {
    font-size: 22px;
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-left: 40px;
    margin-right: 30px;
    width: 60%;
    margin-top: 80px;
}


.secServ4 h1 {
    text-align: center;
    font-size: 30px;
    font-family: Calibri;
}


.secServ4 p {
    text-align: center;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}


.secServ4 a {
    font-size: 17px;
    margin-top: 40px;
    margin-left: 130px;
    margin-right: 130px;
    display: flex;
    justify-content: center;
    padding: 20px;
    padding-right: 100px;
    padding-left: 100px;
    background-color: #2bc016;
    text-decoration: none;
    color: #ffffff;
    border-radius: 3px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
}

.secServ4 a:hover {
    background-color: #30d21b;
    transition: 0.7s ease;
    transform: scale(1.03);
}





/* FOOTER  */


footer {
    background-color: #242424;
    height: 70px
}

.contac {
    display: flex;
    justify-content: space-around;
    font-size: 17px;
}

.btnInicio {
    margin-left: 90px;

}

.btnInicio p {
    color: #fff;
    font-size: 20px;
    margin: 0;
    padding: 5px;
    border-radius: 2px;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 17px
}


.btnInicio p:hover {
    color: #30d21b;
    transition: 0.7s ease;


}

.btnInicio a {
    text-decoration: none;
    color: #ffffff;
}

.logos {
    display: flex;
}

.logos img {
    padding: 6px;
}

#yt img {
    width: 40px;
    padding-top: 17px;
}

#tw img {
    width: 65px;
    height: 45px;
    padding: 0px;
    padding-top: 8px;
}

#ml img {
    width: 40px;
    padding-top: 17px;
}

#ig img {
    height: 35px;
    width: 35px;
    padding-left: 15px;
    padding-top: 13px;
}

#fc img {
    height: 60px;
    width: 60px;
    padding-top: 0px;
}

#wp img {
    height: 37px;
    width: 37px;
    padding-top: 12px;
}

.footerNote {
    margin-top: 8px;
    margin-left: 20px;
    font-family: "Montserrat", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;


}


/* ------------------------------------- RESPONSIVE  --------------------------------------------------------- */

@media (max-width: 1024px) {
    /*laptop */

    html,
    body {
        overflow-x: hidden;
    }

    .header {
        width: 1024px;
    }

    .nav {
        width: 1024px;
        padding-right: 15px;
    }

    .sec1 {
        margin-top: 0;

        h1 {
            margin: 0;
        }
    }

    .gralModelos {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }


    .segImagen {
        padding: 0;

        /* height: 700px; */
        h2 {
            margin-left: 15px;
        }

        p {
            margin: 0;
            width: 30%;
            margin-left: 15px;
        }

        button {
            margin-left: 15px;
            margin-top: 25px;
        }
    }

    .secServ1 {
        margin: 0;

        a {
            padding: 20px;
            margin: 35px;
        }
    }

    .divServ2 {
        width: 1024px;

        img {
            width: 100%;
        }
    }

    .secServ3 {

        img {
            margin: 0;
            width: 100%;
        }
    }

    .secServ4 {
        margin: 0;

        p {
            padding: 10px;
        }

        a {
            padding: 20;
            margin: 35px;
        }
    }



    .btnInicio {
        width: 15%;
        margin-left: 10px;
        text-align: center;
        /* padding: 10px; */

        a p {
            padding: 10px;
        }
    }

    .bodyContacto {
        width: 1024px;
        height: 820px;
    }

    .footerNote {
        font-size: 15px;
    }

    /* .contenedorContacto{
    width: 100%;
    height: 600px;
    margin-right: 275px;
    margin-top: 0;
    display: flex;
    flex-direction: column;
    align-items: self-starts;
    justify-content: flex-start;
   } */










}







/* 
@media (max-width: 860px) {
.nav {
    flex-direction: column;

}

.links ul {

    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.links li {
    padding: 5px;
    font-size: 15px;
}


.containerPrincipal img {
    margin-top: 130px;
}


}


@media (max-width: 550px) {

.nav {
    flex-direction: column;
    align-items: center;
    justify-content: center;
    justify-items: center;

}

.links ul {
    flex-direction: column;
    margin-top: 10px;
    margin-bottom: 10px;
    align-items: center;
}

.links li {
    padding: 5px;
    font-size: 15px;
}


.containerPrincipal img {
    margin-top: 270px;
}




} */